:root {
  --primary-bg: white;
  --secondary-bg: #f5f5f5;
  --iteratory-bg: #ff4d01;
  --font-primary: #737373;
  --font-secondary: #000000;
  --border-color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}


/* This is for current active page  */
#active-page{
  color: var(--font-secondary);
}


/* Start here to main tag of element  rules  */

main {
  position: relative;
}


.show-section{
  display: none;
}



/* start her to .status-bar */
.status-bar {
  width: 100%;
  height: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.status-bar hr {
  width: 95%;
}
.status-container {
  width: 100%;
  height: 100%;
  /* background: var(--primary-bg); */
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  /* flex-direction: column; */
  /* box-shadow: 0 0 5px 0 gainsboro; */
  gap: 1rem;
  padding: 1% 3%;
  padding-bottom: 0.5%;
}

.status-details {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  padding: 1%;
  font-size: 25px;
  font-weight: 450;
  letter-spacing: -1.6px;
}



.status-feature {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.status-feature a {
  cursor: pointer;
  text-decoration: 1px solid underline;
  color: var(--font-secondary);
  text-transform: capitalize;
  font-size: 16px;
  padding: .2rem 1rem;
  border-radius: 4px;
}

.status-feature .active-option{
  background: var(--border-color);
  color: var(--font-secondary);
  text-decoration: none;

}

/* blog create area */
.blog-area {
  width: 100%;
  height: 100%;
  padding: 3%;
}

.blog-container {
  width: 100%;
  height: 100%;
  background: var(--secondary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2%;
}

.blog-area-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.blog-area-heading h1 {
  text-transform: capitalize;
  font-size: 43px;
  font-weight: normal;
  line-height: 79.2px;
  letter-spacing: -2.6px;
  text-align: center;
  color: var(--font-secondary);
}

.create-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 20px;
  padding: 1%;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.tools-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: 1%;
  /* border: 1px solid red; */
}

.tools-box p {
  font-size: 16px;
  text-transform: capitalize;
}
.tools {
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.tools li {
  cursor: pointer;
  list-style: none;
  text-transform: capitalize;
  /* background: var(--border-color); */
  border: 1px solid var(--border-color);
  padding: 0.5% 1%;
  border-radius: 9px;
}

.active-formate{
  background: var(--font-secondary);
  color: var(--secondary-bg);
}

.blog-input-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1%;
  flex-direction: column;
  gap: 1rem;
}

.blog-input {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blog-input input,
.editor {
  border: 1px solid var(--border-color);
  padding: 2%;
  width: 100%;
  padding: 0.8%;
  width: 100%;
  border-radius: 9px;
  background: var(--secondary-bg);
}
.blog-input label {
  /* margin-left:.5%; */
  text-transform: capitalize;
}

.blog-input .editor {
  overflow-y: scroll;
  max-height: 100%;
  height: 150px;
}
.blog-savebtns {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.5rem;
}

.blog-savebtns button {
  padding: 0.5% 5%;
  border-radius: 7px;
  border: 1px solid var(--border-color);
  border-radius: 9px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.blog-savebtns .save-blog-btn {
  background: var(--primary-bg);
}

.popupMSG {
  width: 40%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background: var(--primary-bg);
  text-align: center;
  box-shadow: 0px 0px 20px 2px gainsboro;
  border-radius: 10px;
  padding: 3% 5%;;
}

.hidePopup {
  display: none;
}
/* start here save blog area */

.blog-save-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1%;
  border-radius: 20px;
  background: var(--primary-bg);
}

.blog-save-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
  padding-bottom: 0;
}
.blog-save-heading h3 {
  font-size: 27px;
  font-weight: 550;
  /* padding-left: 1%; */
  color: #000000;
  text-transform: capitalize;
}

.blog-save-heading a {
  text-decoration: 1px solid underline;
  color: var(--font-secondary);
}

.saves-blog {
  width: 100%;
  /* background: gray; */
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.blog-card {
  width: 400px;
  height: auto;
  /* min-height: 500px; */
  background: white;
  box-shadow: 0px 0px 5px 0px gainsboro;
  display: flex;
  /*justify-content: start;
        */ /*align-items: center;
        */
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.blog-img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-details {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1% 2%;
  text-align: left;
}
.blog-details .blog-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.blog-details .blog-pera {
  font-size: 14px;
  color: #737373;
  width: 100%;
  display: -webkit-box;          /* Use flexbox-based layout for content */
  -webkit-line-clamp: 2;         /* Limit to 2 lines */
  -webkit-box-orient: vertical;  /* Set vertical orientation */
  overflow: hidden;              /* Hide overflowing content */
  text-overflow: ellipsis;
}

.blog-creator {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  padding: 1% 2%;
  color: gray;
  font-size: 15px;
}

/* // start here note creation part */

.note-area {
  width: 100%;
  height: 100%;
  padding: 3%;
}
.note-container {
  width: 100%;
  height: 100%;
  background: var(--secondary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2%;
  box-shadow: 0px 0px 4px 0px gainsboro;
}

.note-area-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.note-area-heading h2 {
  text-transform: capitalize;
  font-size: 43px;
  font-weight: normal;
  line-height: 79.2px;
  letter-spacing: -2.6px;
  text-align: center;
  color: var(--font-secondary);
}

.note-create-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 20px;
  padding: 1%;
  border: 1px solid var(--border-color);

  overflow: hidden;
}

.note-heading {
  font-size: 20px;
  font-weight: 450;
  color: var(--font-primary);
  padding-left: 1%;
}

.note-write-area {
  width: 100%;
  min-height: 200px;
  /* border: 1px solid var(--border-color); */
  padding: 1.5%;
  border-radius: 20px;
  background: var(--primary-bg);
  overflow: hidden;
}

.note-input {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.note-input h4 {
  font-size: 25px;
  font-weight: normal;
  color: var(--font-primary);
  border-bottom: 1px solid var(--border-color);
}

.note-input p {
  font-size: 15px;
  font-weight: normal;
  color: var(--font-primary);
}

.saveButtons {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.5rem;
}

.saveButtons button {
  padding: 0.5% 5%;
  border-radius: 7px;
  border: 1px solid var(--border-color);
  border-radius: 9px;
}
.save-note-btn {
  border: none;
  background: rgb(58, 58, 241);
  color: var(--secondary-bg);
}

.save-note-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1%;
  border-radius: 20px;
  background: var(--primary-bg);
}

.save-note-area-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
  padding-bottom: 0;
}

.save-note-area-heading h3 {
  font-size: 27px;
  font-weight: 550;
  /* padding-left: 1%; */
  color: #000000;
  text-transform: capitalize;
}
.save-note-area-heading a {
  text-decoration: 1px solid underline;
  color: var(--font-secondary);
}

.save-note {
  width: 100%;
  /* background: gray; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.note-card {
  width: 250px;
  height: 250px;
  background: white;
  box-shadow: 0px 0px 5px 0px gainsboro;
  display: flex;
  /*justify-content: start;
    */ /*align-items: center;
    */
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.note-title {
  font-size: 20px;
  font-weight: 550;
  color: var(--font-secondary);
}

.note-peragraph {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-primary);
}

@media (max-width: 1024px) {
  .banner-content .banner-content-1 {
    width: 100%;
  }


}

@media (max-width: 800px) {
  .banner-content .banner-content-1 {
    width: 100%;
  }

  .create-area {
    padding: 2%;
  }

  .tools-box {
    justify-content: start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .tools-box p {
    align-self: flex-start;
  }

  .tools {
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
  }

  .tools li {
    padding: 0.5% 4%;
  }

  .blog-input input,
  textarea {
    padding: 3%;
  }

  .blog-savebtns button {
    padding: 1% 12%;
  }
.saveButtons button{
  padding: 1% 12%;
  border-radius: 7px;
  margin-left: 2%;
}
  .blog-card {
    height: 100%;
  }


  .popupMSG{top: 50%;}
}

@media (max-width: 400px) {
  .banner-content .banner-content-1 h1 {
    font-size: 40px;
  }

  .blog-savebtns button {
    padding: 1% 12%;
    border-radius: 7px;
  }

.blog-creator{
    height: 15%;
    flex-wrap: wrap;  
  }

}
