:root {
  --primary-bg: white;
  --secondary-bg: #f5f5f5;
  --iteratory-bg: #ff4d01;
  --font-primary: #737373;
  --font-secondary: #000000;
  --border-color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.popupMSG {
  width: 40%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background: var(--primary-bg);
  text-align: center;
  box-shadow: 0px 0px 20px 2px gainsboro;
  border-radius: 10px;
  padding: 3% 5%;
  animation:  show .5s linear;
  -webkit-animation:  show .5s linear;
}

@keyframes show {
  from{
    scale: 1;
    opacity: 0;
  }
  
}


.hidePopup {
  display: none;
}

/* // manage bar :start */
.manage-bar {
  width: 100%;
  height: 100%;
  padding: 1%;
  /* background: #000; */
}

.manage-bar-container {
  width: 100%;
  height: 100%;
  padding: 0.5% 2%;
  padding-top: 0.5%;
  /* background: var(--border-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: auto;
  flex-wrap: wrap;
  border-radius: 20px;
}

.manage-bar-heading {
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: start;
  padding: 1%;
  align-items: center;
  align-content: center;
  background: #f4f4f4;
  font-size: 25px;
  font-weight: 450;
  letter-spacing: -1.6px;
}

.manage-bar-menu {
  width: 50%;
  height: 60px;
  padding: 1%;
  background: #f4f4f4;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 0.9rem;
}

.manage-bar-menu a {
  text-decoration: none;
  padding: 0.1rem 0.5rem;
color: var(--font-secondary);
  cursor: pointer;
}



/* // start here created Pannel rules */
.pannel-container {
  width: 100%;
  height: 100%;
  padding: 0% 3%;
}
.pannel {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: var(--secondary-bg);
  box-shadow: 0 0 4px 0 #f4f4f4;
}

.pannel-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 0%;
  overflow: hidden;
  animation: openanimation 1.5s ease-out;
  animation-delay: 1.5s;
  -webkit-animation: openanimation 1.5s ease-out;
}

@keyframes openanimation {
    from {
      scale: 1;
      opacity: 0;
    }
  }

/* // Note's is :start */
.Note {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.noteCard {
  width: 100%;
  height: 250px;
  background: white;
  box-shadow: 0px 0px 5px 0px gainsboro;
  display: flex;
  /*justify-content: start;
      */ /*align-items: center;
      */
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.note-title {
    font-size: 20px;
    font-weight: 550;
    color: var(--font-secondary);
}

.note-peragraph {
  height: 100%;
  width: 100%;
  overflow: scroll;
    font-size: 16px;
    font-weight: 400;
    color: var(--font-primary);
}

.note-button-options {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

.note-button-options button {
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  background: var(--font-secondary);
  color: var(--secondary-bg);
  padding: 1.9% 1%;
  width: 40%;
  border-radius: 5px;
}


.note-button-options .Edit-note{
    background:  var(--font-secondary);
}
.note-button-options .Delete-note{
    background:  var(--iteratory-bg);
}


/* // this is .Edit-pannel start  */

.note-create-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 20px;
    padding: 1%;
    border: 1px solid var(--border-color);
  
    overflow: hidden;
  }
  
  .note-heading {
    font-size: 20px;
    font-weight: 450;
    color: var(--font-primary);
    padding-left: 1%;
  }
  
  .note-write-area {
    width: 100%;
    min-height: 200px;
    /* border: 1px solid var(--border-color); */
    padding: 1.5%;
    border-radius: 20px;
    background: var(--primary-bg);
    overflow: hidden;
  }
  
  .note-input {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .note-input h4 {
    font-size: 25px;
    font-weight: normal;
    color: var(--font-primary);
    border-bottom: 1px solid var(--border-color);
  }
  
  .note-input p {
    font-size: 15px;
    font-weight: normal;
    color: var(--font-primary);
  }
  
  .saveButtons {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0.5rem;
  }
  
  .saveButtons button {
    padding: 0.5% 5%;
    border-radius: 7px;
    border: 1px solid var(--border-color);
    border-radius: 9px;
  }
  .save-note-btn {
    border: none;
    background: rgb(58, 58, 241);
    color: var(--secondary-bg);
  }


  /* // This is for  hide pannel  */
  .close-pannel {
    display: none;
  }
  
  .active-option {
    color: var(--font-secondary);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    -webkit-border-radius: 8px2px;
    -moz-border-radius: 8px2px;
    -ms-border-radius: 8px2px;
    -o-border-radius: 8px2px;
  }
  


@media (max-width: 768px) {
    .manage-bar-container {
      flex-direction: column;
    }
  
    .manage-bar-heading,
    .manage-bar-menu {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 2.5%
    }
    .manage-bar-menu {
      /* gap: 1rem; */
      border-bottom: 1px solid black;
  
    }
  
    .pannel-content{
      padding-top: 5% ;
      padding-bottom: 5% ;
     }
     .saveButtons button {
      padding: 1% 12%;
      border-radius: 7px;
      margin-left: 2%;
    }
     .popupMSG{
      width: 85%;
     }
  }
  
  @media (max-width: 567px) {
    .manage-bar-container {
      padding: 0.5%;
    }
  
   
  
  
  }

